/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');*/

body {
/*    font-family: 'Roboto', sans-serif !important;*/
}

.md-typeset h1, .md-typeset h2 {
    font-weight: 400;
    letter-spacing: -.01em;
    color: black;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
    color: #007bff;
}

.md-nav__link:active, .md-nav__link:hover {
    color: #007bff!important;
}

